<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"

       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
">

    
    <bean id="courseBean" class="Model.Course">
        <property name="courseID" value="c101" />
        <property name="courseName" value="JAVA" /> 
        <property name="courseFees" value = "10000" />
        <property name="courseDuration" value="3" />
    </bean>
    
    
</beans>
